<section class="station_container">
  <ul>
    <li class="name"><%= station.name%></li>
    <li class="address"><%= station.address %></li>
    <li class="fuel_type"><%= station.fuel_type %></li>
    <li class="access_times"><%= station.access_times%></li>
    <li class="distance"><%= station.distance %></li>
    <li class="travel_time"><%= station.travel_time %></li>
    <li class="instructions"><%= station.instructions %></li>
  </ul>
</section>
